*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper{
  background: #25262b;
  height: 100vh;
  position: relative;
}

.clock-container{
  /* height: 100vh; */
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.clock{
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem 0;
  background: linear-gradient(180deg, #54428E, #54428E, #54428E, #8963BA);
  text-align: center;
  font-size: 1.2em;
  box-shadow: 5px 5px 25px 5px #5e44b5;
}

.clock span{
  font-size: 2em;
  color: #90C3C8;
  text-shadow: 1px 1px 7px;
}

.clock-timer{
  width: 25%;
  padding: 1em;
}

.clock-timer p{
  font-size: 2.5em;
  text-shadow: 1px 1px 7px;
  color: #90C3C8;
}

.clock-timer small{
  color: #90C3C8;
  text-shadow: 1px 1px 7px;
}

.completed{
  font-size: 4rem;
  color: silver;
  text-shadow: 1px 1px 7px;
}

.wrapper h1{
  color: silver;
  text-shadow: 1px 1px 7px;
  text-align: center;
  padding-top: 1em;
}

.buttons{
  padding: 2em 0;
  display: flex;
  justify-content: space-around;
}

.btn{
  border: 1px solid red;
  padding: 1em;
  border: none;
  border-radius: 8px;
  /* width: 25%; */
  font-size: 1.2rem;
}

.btn--reset{
  background-color: rgb(202, 8, 8);
  color: silver;
  text-shadow: 1px 1px 10px;
}

.btn--start{
  background-color: rgb(33, 78, 31);
  color: silver;
  text-shadow: 1px 1px 10px;
}

.date-form{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.date-form p{
  color: silver;
  text-align: center;
  text-shadow: 1px 1px 7px;
}

.select{
  margin-top: 0.55em;
  border: none;
  border-radius: 8px;
  padding: 1em;
}

.select::after{
  border: 1px solid red;
}

.error{
  color: #fdfdfd;
  text-shadow: 1px 1px 7px;
  width: 90%;
  border: 1px solid #5e44b5;
  box-shadow: 3px 3px 25px 3px #5e44b5;;
  border-radius: 8px;
  padding: 1rem;
  margin: 1em auto;
  margin-bottom: 3rem;
}

@media (min-width: 700px){
  .buttons, .date-form{
    width: 50%;
    margin: auto;
  }

  .error{
    width: 50%;
    text-align: center;
    font-size: 1.2rem;
  }
}

